<div class="container-sidebar ">
    <ul ngbNav class="nav nav-pills ">
        <li class="nav-item margin-top p-2">
            <a routerLink='/' class="nav-link d-flex">
                <div i-bs class="mr-3" name="house-door-fill" width="1.5rem" height="1.5rem"></div>
                <div>Home</div>
            </a>
        </li>
        <li class="nav-item p-2">
            <a routerLink='/product' class="nav-link d-flex">
                <div i-bs class="mr-3" name="phone-fill" width="1.5rem" height="1.5rem"></div>
                <div>Product</div>
            </a>
        </li>
    </ul>
</div>