<form [formGroup]="productForm!" id="ngForm" (ngSubmit)="saveProduct()">
    <div class="container-fluid mt-3">
        <div class="shadow-lg bg-body pt-3 px-3 d-flex border rounded-top">
            <div class="col">
                <h2>Product</h2>
                <p>Add new products</p>
            </div>
            <div class="col text-right align-self-center">
                <button   type="submit" class="btn btn-primary" form="ngForm">Save</button>
            </div>
        </div>
        <div class="bg-light border rounded-bottom p-3" style="max-height: 80vh;">
            <div class="row">
                <div class="col-md-6 mb-3 text-center">
                    <div *ngIf="imageSrc !== '' " class="d-block p-4">
                        <!-- <img [src]=" imageSrc" class="rounded float-start" style="width: 400px; height: 400px;"
                            alt="..."> -->
                        <img [src]="product.image" class="rounded float-start" style="width: 400px; height: 400px;"
                            alt="...">
                    </div>
                    <div *ngIf="imageSrc === '' ">
                        <img src="../../../../assets/img/shopping.png" class="rounded float-start"
                            style="width: 400px; height: 400px;" alt="...">
                    </div>
                    <div class="custom-input-button btn btn-primary">
                        Upload
                        <input type="file" name="image" accept="image/*" class="custom-input" formControlName="image"
                            (change)="readURL($event);" [ngClass]="{ 'is-invalid': submitted && form!.image.errors }" />
                    </div>
                    <div *ngIf="submitted && form!.image.errors" class="invalid-feedback">
                        <div *ngIf="form!.image.errors.required">Image is required</div>
                    </div>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="col-md-12 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" id="name" formControlName="name"
                            [(ngModel)]="product!.name" placeholder="Iphone 13 pro"
                            [ngClass]="{ 'is-invalid': submitted && form!.name.errors }">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputDescription" class="form-label">Description</label>
                        <textarea type="aria" class="form-control" id="inputDescription" name="description"
                            formControlName="description" [(ngModel)]="product!.description"
                            [ngClass]="{ 'is-invalid': submitted && form!.description.errors }"></textarea>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="inputPrice" class="form-label">Price</label>
                        <input type="number" name="price" class="form-control" id="inputPrice" placeholder="20.000.000đ"
                            [(ngModel)]="product!.price" [ngClass]="{ 'is-invalid': submitted && form!.price.errors }"
                            formControlName="price">
                    </div>
                    <div class="col-12 mb-3">
                        <label for="inputQuantity" class="form-label">Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="inputQuantity" placeholder="200"
                            [(ngModel)]="product!.quantity" formControlName="quantity"
                            [ngClass]="{ 'is-invalid': submitted && form!.quantity.errors }">
                    </div>
                    <div class="col-12 mb-4">
                        <label for="inputStatus" class="form-label">Status</label>
                        <select class="form-control" name="status" id="inputStatus" aria-label="Default select example"
                            [(ngModel)]="product!.status" formControlName="status"
                            [ngClass]="{ 'is-invalid': submitted && form!.status.errors }">
                            <option value="1">Available</option>
                            <option value="0">No Available</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>